@use 'variables' as *;

/* Animación de Tarjetas (Levitar) */
@mixin hover-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease;
    cursor: pointer;
    &:hover {
        transform: translateY(-8px);
        box-shadow: 0 10px 25px rgba($brand-primary, 0.15);
        border-color: $brand-primary;
    }
}

/* Animación Botón Flotante (+) */
@mixin btn-pulse-animation {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: $brand-primary;
    color: $text-main;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    line-height: 1;
    padding-bottom: 4px;
    text-decoration: none;
    border: none;
    transition: all 0.3s ease;
    box-shadow: 0 4px 10px rgba(0,0,0,0.5);

    &:hover {
        transform: scale(1.15) rotate(90deg);
        background-color: $brand-dark;
        box-shadow: 0 0 20px rgba($brand-primary, 0.7);
        color: $text-main;
    }
}